@import "./reset";
@import "./mediaQueries";
@import "./colors";
@import "./baseStyles";

body {
  font-family: "Menlo", -apple-system, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 14px;
}

.main-container {
  max-width: $desktop;
  margin: 0 auto;
  display: block;
}

.button {
  text-align: center;
  padding: 5px 10px;
  border: 2px solid $dark-color;
  border-radius: $border-radius;
  background-color: transparent;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $light-color;
    background-color: $dark-color;
  }
}
