@import "./reset";
@import "./mediaQueries";
@import "./colors";
@import "./baseStyles";

body {
  font-family: "Menlo", -apple-system, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 14px;
}

.main-container {
  max-width: $desktop;
  margin: 0 auto;
  display: block;
}
